{
  "app": {
    "name": "gateway-svc"
  },
  "api": {
    "rest": {
      "host": "0.0.0.0",
      "port": 4000
    },
    "metrics": {
      "enabled": true
    }
  },
  "external": {
    "iam_svc":       { "name": "iam-svc",                                               "grpc_target": "iam-svc:50051" },
    "catalog_svc":   { "name": "catalog-svc",                                           "grpc_target": "catalog-svc:50052" },
    "booking_svc":   { "name": "booking-svc",                                           "grpc_target": "booking-svc:50053" },
    "jamaah_svc":    { "name": "jamaah-svc",                                            "grpc_target": "jamaah-svc:50054" },
    "payment_svc":   { "name": "payment-svc",                                           "grpc_target": "payment-svc:50055" },
    "visa_svc":      { "name": "visa-svc",                                              "grpc_target": "visa-svc:50056" },
    "ops_svc":       { "name": "ops-svc",                                               "grpc_target": "ops-svc:50057" },
    "logistics_svc": { "name": "logistics-svc",                                         "grpc_target": "logistics-svc:50058" },
    "finance_svc":   { "name": "finance-svc",                                           "grpc_target": "finance-svc:50059" },
    "crm_svc":       { "name": "crm-svc",                                               "grpc_target": "crm-svc:50060" }
  },
  "otel_tracer": {
    "name": "gateway-svc-tracer",
    "endpoint": "otel-collector:4317"
  }
}
