{
  "app": {
    "name": "catalog-svc"
  },
  "api": {
    "grpc": {
      "address": "0.0.0.0:50052"
    }
  },
  "store": {
    "postgres": {
      "connection_string": "postgresql://postgres:changeme@postgres:5432/umrohos_dev",
      "pool": {
        "max_conns": 25,
        "min_conns": 5,
        "retry_max_attempts": 5,
        "retry_base_delay": "4s",
        "retry_max_delay": "60s"
      }
    }
  },
  "otel_tracer": {
    "name": "catalog-svc-tracer",
    "endpoint": "otel-collector:4317"
  },
  "iam": {
    "grpc_target": "iam-svc:50051"
  }
}
