{
  "app": {
    "name": "iam-svc"
  },
  "api": {
    "grpc": {
      "address": "0.0.0.0:50051"
    }
  },
  "store": {
    "postgres": {
      "connection_string": "postgresql://postgres:changeme@postgres:5432/umrohos_dev",
      "pool": {
        "max_conns": 25,
        "min_conns": 5,
        "retry_max_attempts": 5,
        "retry_base_delay": "4s",
        "retry_max_delay": "60s"
      }
    }
  },
  "token": {
    "type": "paseto",
    "key": "iam_svc_development_paseto_key_0",
    "access_duration": "15m",
    "refresh_duration": "168h"
  },
  "totp": {
    "issuer": "UmrohOS",
    "encryption_key": "iam_svc_development_totp_aes_256"
  },
  "otel_tracer": {
    "name": "iam-svc-tracer",
    "endpoint": "otel-collector:4317"
  }
}
